<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="PhuHuynh_NhaTruong.PhuHuynh_NhaTruong" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<application android:label="PhuHuynh-NhaTruong" android:icon="@drawable/icon"></application>
</manifest>